<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="foodEntry">
      <h2 data-cy="foodEntryDetailsHeading"><span>Food Entry</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ foodEntry.id }}</span>
        </dd>
        <dt><span>Mealtype</span></dt>
        <dd>
          <span>{{ foodEntry.mealtype }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ foodEntry.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Food Day</span></dt>
        <dd>
          <div *ngIf="foodEntry.foodDay">
            <a [routerLink]="['/food-day', foodEntry.foodDay?.id, 'view']">{{ foodEntry.foodDay?.id }}</a>
          </div>
        </dd>
        <dt><span>Food</span></dt>
        <dd>
          <div *ngIf="foodEntry.food">
            <a [routerLink]="['/food', foodEntry.food?.id, 'view']">{{ foodEntry.food?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/food-entry', foodEntry.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
