<div>
  <h2 id="page-heading" data-cy="FoodEntryHeading">
    <span>Food Entries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-food-entry"
        [routerLink]="['/food-entry/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Food Entry </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="foodEntries?.length === 0">
    <span>No foodEntries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="foodEntries && foodEntries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="mealtype"><span>Mealtype</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="foodDay.id"><span>Food Day</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="food.id"><span>Food</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let foodEntry of foodEntries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/food-entry', foodEntry.id, 'view']">{{ foodEntry.id }}</a>
          </td>
          <td>{{ foodEntry.mealtype }}</td>
          <td>{{ foodEntry.createdDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="foodEntry.foodDay">
              <a [routerLink]="['/food-day', foodEntry.foodDay?.id, 'view']">{{ foodEntry.foodDay?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="foodEntry.food">
              <a [routerLink]="['/food', foodEntry.food?.id, 'view']">{{ foodEntry.food?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/food-entry', foodEntry.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/food-entry', foodEntry.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(foodEntry)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
