<div>
  <h2 id="page-heading" data-cy="FoodHeading">
    <span>Foods</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-food"
        [routerLink]="['/food/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Food </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="foods?.length === 0">
    <span>No foods found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="foods && foods.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="calories"><span>Calories</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="carbohydrates"><span>Carbohydrates</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="proteins"><span>Proteins</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fat"><span>Fat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sodium"><span>Sodium</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let food of foods; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/food', food.id, 'view']">{{ food.id }}</a>
          </td>
          <td>{{ food.name }}</td>
          <td>{{ food.calories }}</td>
          <td>{{ food.carbohydrates }}</td>
          <td>{{ food.proteins }}</td>
          <td>{{ food.fat }}</td>
          <td>{{ food.sodium }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/food', food.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/food', food.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(food)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
