<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="appUser">
      <h2 data-cy="appUserDetailsHeading"><span>App User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appUser.id }}</span>
        </dd>
        <dt><span>Bio</span></dt>
        <dd>
          <span>{{ appUser.bio }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ appUser.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Height</span></dt>
        <dd>
          <span>{{ appUser.height }}</span>
        </dd>
        <dt><span>Workouts Per Week</span></dt>
        <dd>
          <span>{{ appUser.workoutsPerWeek }}</span>
        </dd>
        <dt><span>Minutes Per Workout</span></dt>
        <dd>
          <span>{{ appUser.minutesPerWorkout }}</span>
        </dd>
        <dt><span>Date Of Birth</span></dt>
        <dd>
          <span>{{ appUser.dateOfBirth | formatMediumDate }}</span>
        </dd>
        <dt><span>Activity Level</span></dt>
        <dd>
          <span>{{ appUser.activityLevel }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ appUser.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-user', appUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
