<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-food-entry-heading" data-cy="FoodEntryCreateUpdateHeading">Create or edit a Food Entry</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_mealtype">Mealtype</label>
          <select class="form-control" name="mealtype" formControlName="mealtype" id="field_mealtype" data-cy="mealtype">
            <option [ngValue]="null"></option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Snack">Snack</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_foodDay">Food Day</label>
          <select class="form-control" id="field_foodDay" data-cy="foodDay" name="foodDay" formControlName="foodDay">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="foodDayOption.id === editForm.get('foodDay')!.value?.id ? editForm.get('foodDay')!.value : foodDayOption"
              *ngFor="let foodDayOption of foodDaysSharedCollection; trackBy: trackFoodDayById"
            >
              {{ foodDayOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_food">Food</label>
          <select class="form-control" id="field_food" data-cy="food" name="food" formControlName="food">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="foodOption.id === editForm.get('food')!.value?.id ? editForm.get('food')!.value : foodOption"
              *ngFor="let foodOption of foodsSharedCollection; trackBy: trackFoodById"
            >
              {{ foodOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
